<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.demo.mapper.UserModelMapper">
    <resultMap id="BaseResultMap" type="UserModel">
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="gender" jdbcType="CHAR" property="gender"/>
        <result column="create_time" jdbcType="VARCHAR" property="createTime"/>
    </resultMap>

    <sql id="Base_Column_List">
    user_id, user_name, gender, create_time
  </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_user
        where user_id = #{user_id,jdbcType=INTEGER}
    </select>

    <select id="selectAllWithPagination"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_user
        <if test="param1 !=null and param2 != null">
            order by user_id asc limit #{param1},#{param2}
        </if>
    </select>

    <insert id="insert" parameterType="com.github.demo.model.UserModel">
    insert into tb_user (user_id, user_name, gender, 
      create_time)
    values (#{userId,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{gender,jdbcType=CHAR}, 
      #{createTime,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.github.demo.model.UserModel">
        insert into tb_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                user_id,
            </if>
            <if test="userName != null">
                user_name,
            </if>
            <if test="gender != null">
                gender,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="userName != null">
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="gender != null">
                #{gender,jdbcType=CHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
</mapper>